html, body {
    margin: 0;
    padding: 0;
    width: 399px; 
    height: 599px;
    overflow: hidden;
    box-sizing: border-box; 
    font-family: 'Arial', sans-serif;
}
body {
    min-height: 100vh;
    background-color: #0000CC; /* Màu nền xanh đậm của ví */
    border: 4px solid #FFFF00; /* Viền vàng */
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    } 20% {
        transform: translateY(-5px);
    }
}
.screen.hidden {
    display: none !important; 
}
.screen.active {
    display: flex !important;
}
.action-button {
    margin: 0;
    width: 80%; 
    border: #000000;
    border-radius: 20px;
    border-style:inset;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, opacity 0.2s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
.action-button:hover {
    opacity: 0.8;
    animation: bounce 0.5s ease-out 1;
    animation-iteration-count: 1;
}
.back-button{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #FFFF00;
    color: #0000CC;
    font-size: 1.2em; 
    font-weight: bold;
    padding: 5px 7px;
    border-radius: 20px;
    border: #000000;
    border-style:inset;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.back-button:hover {
    opacity: 0.8;
}
.title{
    color: #FFFF00;
    font-size: 2.5em;
    display: flex;
    align-items: flex-start;
    margin-top: 75px;
    margin-bottom: 100px;
    font-weight: bold;
}

.Wallet-Interface {
    width: 400px;
    height: 600px;
}
/*--------------------------------------------------------------------------*/
#welcomeScreen, #importScreen {
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 20px;
}
#welcomeScreen{
    justify-content: center;
}
.description{
    font-size: 0.8em;
    opacity: 0.6;
}
#createWalletBtn, #importWalletBtn {
    background-color: #FFFF00;
    color: #0000CC;
    font-size: 2.5em; 
    font-weight: bold;
    padding: 15px 20px;
    margin-right: 10px;
}
.note {
    background-color: #7B68EE;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: bold;

    margin-top: -35px;
    margin-bottom: 50px;
    
    text-align: center;
}
/*--------------------------------------------------------------------------*/
#importScreen{
    margin-right: 10px;
}
#importMnemonicBtn, #importPrivateBtn {
    background-color: #FFFF00;
    color: #0000CC;
    font-size: 2.5em; 
    font-weight: bold;
    padding: 15px 20px;
}
#importPrivateBtn {
    margin-top: -50px;
}
/*--------------------------------------------------------------------------*/
#createPasswordScreen{
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 1px;
    margin-right: 10px;
}
.form-control{
    width: 80%;
    padding: 8px;
    font-size: 1.5em;
    border: 2px solid #FFFF00;
    border-radius: 10px;
    margin-top: 25px;
}
#confirmPassword, #newPassword{
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding-right: 10px;
}
label[for="newPassword"],
label[for="confirmPassword"] {
    font-size: 1.2em;
    font-weight: bold;
    color: #FFFF00;
}
/*--------------------------------------------------------------------------*/
#showSeedScreen {
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
.seed-phrase-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: #FFFF00;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
/* in popup.js/displaySeedPhrase() */
.seed-item {
    display: flex;
    align-items: center;
    padding: 5px 7px;
    border: 1px solid #8f8c00;
    border-radius: 10px;
    background-color: #f1ffb4;
    font-size: 15px;
    font-weight: 500;
}
.seed-number {
    font-weight: bold;
    color: #242424;
    margin-right: 8px;
    min-width: 25px;
    text-align: right;
}
.seed-word-display, 
.seed-item input[type="text"] {
    color: #0000CC;
    font-size: 15px;
    font-weight: 500;
    text-transform: lowercase;
    
    flex-grow: 1;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;
    width: 100%;
}

.warning-text {
    color: #FF0000;
    text-align: center;
    font-size: 16px;
    margin-top: -30px;
}

#copySeedBtn, #seedPhraseSavedBtn {
    background-color: #FFFF00;
    color: #0000CC;
    font-size: 1.5em; 
    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 10px;
}
@media (min-width: 400px) {
    .seed-phrase-grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}
/*--------------------------------------------------------------------------*/
#importMnemonicScreen{
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

