html, body {
    margin: 0;
    padding: 0;
    min-width: 400px; 
    min-height: 600px;
    overflow: hidden;
    box-sizing: border-box; 
    font-family: 'Arial', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    background-color: #0000CC;
    border: 4px solid #FFFF00;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    } 20% {
        transform: translateY(-5px);
    }
}
.Wallet-Interface {
    width: 390px;
    height: 590px;
}
.screen.hidden {
    display: none !important; 
}
.screen.active {
    display: flex !important;
}
.action-button {
    margin: 0;
    width: 80%; 
    border: #000000;
    border-radius: 20px;
    border-style:inset;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, opacity 0.2s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
.action-button:hover {
    opacity: 0.8;
    animation: bounce 0.5s ease-out 1;
    animation-iteration-count: 1;
}
.back-button{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #FFFF00;
    color: #0000CC;
    font-size: 1.2em; 
    font-weight: bold;
    padding: 5px 7px;
    border-radius: 20px;
    border: #000000;
    border-style:inset;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.back-button:hover {
    opacity: 0.8;
}
.title{
    color: #FFFF00;
    font-size: 2.5em;
    font-weight: bold;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/*--------------------------------------------------------------------------*/

#welcomeScreen{
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    align-items: center;
}

#createWalletBtn, #importWalletBtn {
    background-color: #FFFF00;
    color: #0000CC;
    font-size: 2.5em; 
    font-weight: bold;
    padding: 15px 20px;
}
.des{
    font-size:0.9em;
    opacity:0.7;
}
.note {
    background-color: #7B68EE;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: bold;

    margin-top: -35px;
    margin-bottom: 50px;
    
    text-align: center;
}
/*--------------------------------------------------------------------------*/
#createPasswordScreen {
    flex-direction: column;
}
.form-group{
    gap: 20px;
    height: 225px;
    width: 100%;
    align-items: center;
    justify-items: center;
    align-content: flex-end;
}
.form-control{
    width: 80%;
    padding: 10px;
    font-size: 1.5em;
    border: 2px solid #FFFF00;
    border-radius: 10px;

}
#confirmPassword, #newPassword{
    width: 100%;
    box-sizing: border-box;
}
label[for="newPassword"],
label[for="confirmPassword"] {
    font-size: 1.2em;
    font-weight: bold;
    color: #FFFF00;
}


/*--------------------------------------------------------------------------*/
#importMnemonicScreen{
    width:100%;
    flex-direction: column;
    justify-content: center;
    display: flex;             
    align-items: center;
}
.description {
    color:#FFFF00;
    font-size: 16px;
    opacity: 0.8;
    display:flex;
    font-weight: bold;
    justify-content: center;
}


/*--------------------------------------------------------------------------*/
#showSeedCreatedScreen {
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.seed-phrase-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    padding: 10px;
    background-color: #FFFF00;
    border-radius: 20px;
    border: 3px solid #8f8c00;
    margin: 15px;
}
/* in popup.js/displaySeedPhrase() */
.seed-item {
    display:inline-flex;
    align-items: center;
    border: 1px solid #8f8c00;
    background-color: #f1ffb4;
    font-size: 14px;
    
    padding: 8px;
    border-radius: 12px;
}
.seed-number {
    font-weight: bold;
    color: #242424;
    margin-right: 7px;
    margin-left: -5px;
    text-align: right;
    width:20px;
}
.seed-word{
    color: #0000CC;
    text-transform: lowercase;
    font-weight: 567;
    margin-right: 3px;
}
.seed-item input[type="text"] {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}

.warning-text {
    color: #FF0000;
    text-align: center;
    font-size: 16px;
    height:20px;
    margin-top: 30px;
}

.copy-save {
    display: flex;             
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
.copy-button, .saved-button {
    background-color: #FFFF00;
    color: #0000CC;
    font-size: 17px; 
    font-weight: bold;
    padding: 5px 12px;
}
.reset-button{
    background-color: #FFFF00;
    color: #0000CC;
    font-size: 17px; 
    font-weight: bold;
    width: 50%;
    padding-top: 5px;
}
/*--------------------------------------------------------------------------*/
.notification-toast {
    position: fixed;
    bottom: 12px;
    z-index: 1000;
    right: 10px;
    min-width: 250px;
    padding: 10px 15px;
    border-radius: 10px;
    
    background-color: #333;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.notification-toast.hidden {
    display: none;
    opacity: 0;
    transform: translateX(100%); 
}

.notification-toast.active {
    display: flex; 
    opacity: 1;
    transform: translateX(0);
}

.icon-success {
    font-size: 20px;
    color: white;
    line-height: 1;
}
.icon-error {
    font-size: 50px;
    color: #6d0000;
    line-height: 1;
    margin-top: 5px;
}

.message {
    font-weight: bold;
    display: block;
    font-size: 15px;
    
}

.notification-toast.error {
    background-color: #ff4646;
}
#copySuccessNotification {
    background-color: #4CAF50;
}
#ErrorCreatingPasswordNotification{
    background-color: #ff4646;
}
.reset-import{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 15px;
    
}
.import-button{
    background-color: #9aee13;
    color: #0000CC;
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
}